 <body>
  <o-form attr="rooms_form_edit" service="flats" entity="room" keys="room_id" fxLayout="column" show-header="yes"
  #oForm after-insert-mode="detail" class="standalone-form-container">

  <o-row class="material-icons" attr="row1" icon="business" title="Room info" fxLayoutAlign="space-evenly center">


      <!-- <div fxLayout="row" fxLayoutAlign="start center">
        <o-text-input attr="STREET_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30" fxFlex="50"></o-text-input>
        <o-text-input attr="STREET_NUMBER" fxFlex="50" required="yes"></o-text-input>
        <o-text-input attr="CITY" fxFlex="50" required="yes"></o-text-input>
        <o-text-input attr="PROVINCE" fxFlex="50" required="yes"></o-text-input>
      </div> -->

      <div class="flatsearcher" fxLayout="row" layout-align="start stretch" fxFlex="20" fxLayoutGap="26px" layout-padding>
        <o-list-picker service="flats" entity="flat" attr="flat_id" enabled="yes" keys="flat_id"
        columns="flat_id;street_name;street_number;floor;door;city;province" separator=" "
        visible-columns="street_name;street_number;floor;door;city;province" value-column="flat_id"></o-list-picker>
      </div>
      <br>
      <o-row attr="row2" class="priceform" icon="fiber_new" title="New Flat Info" fxFlex="50" layout-padding>
        <div class="flatform"  fxFlex="60" layout-padding>
            <o-column  fxLayout="column" fxLayoutAlign="space-evenly right">
              <o-text-input attr="street_name"></o-text-input>
              <o-text-input attr="street_number" sql-type="INTEGER"></o-text-input>
              <o-text-input attr="floor" sql-type="INTEGER"></o-text-input>
              <o-text-input attr="door"></o-text-input>
              <o-text-input attr="city"></o-text-input>
              <o-text-input attr="province"></o-text-input>
              <o-text-input attr="postal_code" sql-type="INTEGER"></o-text-input>
            </o-column>
        </div>
      </o-row>
        <br>
        <o-column fxFlex="25" layout-align="below-center">
          <o-image attr="PHOTO" fxFill class="customer-picture" empty-image="./assets/images/no-image.png"></o-image>
          </o-column>
    </o-row>
    <o-row attr="row3" class="priceform" icon="attach_money" title="Rental Info" fxFlex="20" layout-padding>
      <o-text-input attr="price" sql-type="INTEGER" currency-symbol="€"></o-text-input>
    </o-row>
    <!-- <o-row attr="row3" class="propertiesform" icon="">
      <o-text-input attr="propertydesc"></o-text-input>
      <o-list-picker service="properties" entity="propertyType" keys="property_id" columns="property_id;property_txt;propertytype_id;propertydesc" visible-columns="propertydesc"></o-list-picker>
    </o-row> -->





  <!-- <o-column attr="user_" title="CONTACT_DATA" layout-padding layout-align="start stretch">
    <o-text-input attr="ADDRESS"></o-text-input>
    <o-email-input attr="EMAIL"></o-email-input>
    <o-textarea-input attr="COMMENTS" rows="6"></o-textarea-input>
  </o-column> -->

  </o-form>
</body>













<!-- <o-form service="rooms" entity="room" keys="room_id" header-actions="R;U;D" show-header-actions="true">
    <o-text-input attr="ROOM_ID" sql-type="INTEGER"></o-text-input> -->

    <!-- Esto lo ponemos en comentarios para que no aparezca, rollo visible.
        Así nadie puede modificarlo y nos va a aparecer igual después. -->
    <!-- Aquí, la clave primaria tiene que ir en mayúscula sí o sí
    No especificamos el tipo de variable que es porque lo genera automáticamente la base de datos, MIRAR BBDD.
    Podemos  -->

    <!-- <o-list-picker attr="FLAT_ID" service="flats" entity="flat" keys="flat_id" visible-columns="FLAT_ID" value-column="FLAT_ID"></o-list-picker> -->
    <!-- <o-list-picker attr="USER_" service="users" entity="user" keys="USER_" visible-columns="USER_" value-column="USER_"></o-list-picker> -->
    <!-- Con esto, nos aparecerá una lupa y ahí miraremos los usuarios ya creados, para que no se repitan -->
    <!-- <o-text-input attr="USER_"></o-text-input> -->

    <!-- <o-combo attr="USER_" service="users" entity="user" keys="USER_" visible-columns="USER_" value-column="USER_"></o-combo>
    <o-currency-input attr="PRICE" min-decimal-digits="1"></o-currency-input>
</o-form> -->
