<o-form attr="rooms_form_edit" service="flats" entity="room" keys="room_id" fxLayout="column" show-header="yes" header-actions="R;I;U;D">

  <o-row attr="row1" layout-align="start stretch">

    <o-column title="ROOM_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
      <div fxLayout="row" fxLayoutAlign="start center">
        <o-text-input attr="ROOM_ID" fxFlex="30" class="margin-right-24" required="yes"></o-text-input>
        <div fxFlex></div>
      </div>

      <!-- <div fxLayout="row" fxLayoutAlign="start center">
        <o-text-input attr="STREET_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30" fxFlex="50"></o-text-input>
        <o-text-input attr="STREET_NUMBER" fxFlex="50" required="yes"></o-text-input>
        <o-text-input attr="CITY" fxFlex="50" required="yes"></o-text-input>
        <o-text-input attr="PROVINCE" fxFlex="50" required="yes"></o-text-input>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="start center">
        <o-text-input attr="FLAT_ID" fxFlex="30" query-on-init="no" query-on-bind="no" required="yes" enabled="yes" filter="no"
          value-column="FLAT_ID" service="flats" entity="flat" keys="flat_id" columns="flat_id;street_name;street_number"
          visible-columns="street_name;street_number;city;province" separator=" - ">
        </o-text-input>
      </div>

    </o-column>
    <o-column fxFlex="40" layout-align="center center">
      <o-image attr="PHOTO" fxFill class="customer-picture" empty-image="./assets/images/no-image.png"></o-image>
    </o-column>
  </o-row>

  <div layout-padding></div>

  <!-- <o-column attr="user_" title="CONTACT_DATA" layout-padding layout-align="start stretch">
    <o-text-input attr="ADDRESS"></o-text-input>
    <o-email-input attr="EMAIL"></o-email-input>
    <o-textarea-input attr="COMMENTS" rows="6"></o-textarea-input>
  </o-column> -->

</o-form>














<!-- <o-form service="rooms" entity="room" keys="room_id" header-actions="R;U;D" show-header-actions="true">
    <o-text-input attr="ROOM_ID" sql-type="INTEGER"></o-text-input> -->

    <!-- Esto lo ponemos en comentarios para que no aparezca, rollo visible.
        Así nadie puede modificarlo y nos va a aparecer igual después. -->
    <!-- Aquí, la clave primaria tiene que ir en mayúscula sí o sí
    No especificamos el tipo de variable que es porque lo genera automáticamente la base de datos, MIRAR BBDD.
    Podemos  -->

    <!-- <o-list-picker attr="FLAT_ID" service="flats" entity="flat" keys="flat_id" visible-columns="FLAT_ID" value-column="FLAT_ID"></o-list-picker> -->
    <!-- <o-list-picker attr="USER_" service="users" entity="user" keys="USER_" visible-columns="USER_" value-column="USER_"></o-list-picker> -->
    <!-- Con esto, nos aparecerá una lupa y ahí miraremos los usuarios ya creados, para que no se repitan -->
    <!-- <o-text-input attr="USER_"></o-text-input> -->

    <!-- <o-combo attr="USER_" service="users" entity="user" keys="USER_" visible-columns="USER_" value-column="USER_"></o-combo>
    <o-currency-input attr="PRICE" min-decimal-digits="1"></o-currency-input>
</o-form> -->
