.detailproperties{
  font-size: 25px;
  /* background-color: aliceblue; */
}
.properties{
  font-size: 25px;
  /* background-color: aliceblue; */
}
.propertiesnumber{
  font-size: 25px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom:auto;
  margin-left: 30px;
}
.properties2{
  font-size: 25px;
  /* background-color: aliceblue; */
}
.roomsdiv{
  /* background-color: aliceblue; */
}
.propertiesitem{
  /* background-color: aliceblue;
  border-color: rgb(236, 202, 50);
  border-width: 25px;
  border-style: solid; */
}


