<o-form service="flats" entity="roomDetails" keys="room_id" header-actions="R;I;U;D" show-header-actions="true">
  <o-row class="detailproperties" attr="container" title="Location" icon="location_on" layout-align="center center" elevation="1" appearance="none">
    <o-text-input class="properties" fxFlex="25"attr="STREET_NAME" sql-type="TEXT"></o-text-input>
    <o-text-input class="properties" fxFlex="25" attr="STREET_NUMBER" ></o-text-input>
    <o-text-input class="properties" attr="FLOOR"></o-text-input>
    <o-text-input class="properties" attr="DOOR"></o-text-input>
    <o-text-input class="properties" attr="CITY"></o-text-input>
    <o-text-input class="properties" attr="PROVINCE"></o-text-input>
    <!-- <o-text-input attr="POSTAL_CODE"></o-text-input> -->
  </o-row>

  <o-integer-input oHidden  attr="room_id">  </o-integer-input>
  <!-- <o-integer-input oHidden="yes" attr="flat_id">  </o-integer-input> -->

   <div class="roomsdiv">
     <o-row class="detailproperties" attr="container" title="Room" icon="meeting_room" layout-align="start stretch" elevation="2" appearance="none">
    <o-list #propertiesR parent-keys="room_id" attr="properties" title="Properties" service="properties" entity="propertyRoom"
    keys="property_id" columns="property_id;room_id;property_txt;property_binary;property_number;propertytype_id;propertydesc">
    <o-list-item *ngFor="let row of propertiesR.dataArray">
      <o-list-item-text  class="propertiesitem" #item title="{{ row.propertydesc }}" primary-text="{{ row.property_txt }}"
        secondary-text="{{ row.property_number }}">
      </o-list-item-text>
    </o-list-item>
  </o-list>
  </o-row>
</div>
<div class="flatsdiv">
  <o-integer-input oHidden attr="flat_id">  </o-integer-input>

<o-row class="detailproperties" attr="container" title="Flat" icon="apartment" layout-align="start stretch" elevation="2" appearance="none">
  <o-list #properties parent-keys="flat_id" attr="properties" title="Properties" service="properties" entity="propertyFlat"
  keys="property_id" columns="property_id;flat_id;property_txt;property_binary;property_number;propertytype_id;propertydesc">
  <o-list-item *ngFor="let row of properties.dataArray">
    <o-list-item-text class="properties2" #item title="{{ row.propertydesc }}" primary-text="{{ row.property_txt }}"
      secondary-text="{{ row.property_number }}">
    </o-list-item-text>
  </o-list-item>
</o-list>
</o-row>
</div>






  <!-- <o-row attr="container" title="Initial Data" icon="check" layout-align="start stretch" elevation="1" appearance="none">
  <o-text-input attr="room_id" sql-type="INTEGER" enabled="no"></o-text-input>
    Hay que añadir el tipo de variable que es
     <o-text-input attr="FLAT_ID" sql-type="INTEGER"></o-text-input>
  </o-row>

  <o-row attr="container" title="Rental details" icon="check" layout-align="start stretch" elevation="2" appearance="none">
  <o-currency-input attr="PRICE" min-decimal-digits="1"></o-currency-input>
    Price tiene que ir en mayúsculas, no es en función de cómo lo tengamos en la base de datos, si no que hay que ponerlo en mayúsculas sí o sí
     Las claves primarias, tienen que ir igual a las de la base de datos sí o sí. El resto, en mayúsculas y ya
     ¡OJO! Esto sólo afecta en la modificación, en la creación funciona diferente
    El botón de eliminar da un error, pero en cambio si le damos a refrescar sí que nos lo ha eliminado.
    No sabemos qué pasa ahí
  < </o-row>  -->
</o-form>

<!-- <o-form service="properties" entity="propertyDetails" header-actions="R;I;U;D" show-header-actions="true">
  <o-row attr="container" title="Room Properties" icon="check" layout-align="start stretch" elevation="1" appearance="none">
    <o-text-input attr="PROPERTY_ID" sql-type="INTEGER"></o-text-input>
     No funciona, revisar bien el rest
  </o-row>
</o-form> -->
