<div fxFlex>
    <o-table fxFlex attr="roomsTable" service="rooms"  entity="room"  keys="room_id"
      columns="room_id;flat_id;user_;price" visible-columns="room_id;flat_id;user_;price"
      editable-columns="room_id;flat_id;user_;price"query-rows="20" horizontal-scroll=yes quick-filter="yes" auto-adjust="yes" select-all-checkbox-visible="yes">
      <o-table-column attr="room_id" title="ROOM" orderable="yes" searchable="yes" type="text" horizontal-scroll=yes></o-table-column>
      <o-table-column attr="flat_id" title="FLAT" orderable="yes" searchable="no" type="text" horizontal-scroll=yes></o-table-column>
      <o-table-column attr="user_" title="USER" orderable="no" searchable="no" type="text" horizontal-scroll=yes></o-table-column>
      <o-table-column attr="price" title="PRICE" orderable="yes" searchable="no" type="currency" currency-symbol="€"
      currency-symbol-position="right" grouping="yes" thousand-separator="." decimal-separator="," max-decimal-digits="2" horizontal-scroll=yes></o-table-column>
      <o-table-columns-filter columns="price" ></o-table-columns-filter>
    </o-table>
</div>

